@import "./assets/font-face.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
    color-scheme: dark;
    background-color: #191919;
}

@keyframes gradient {
    0% {
        background: #333;
    }
    50% {
        background: #444;
    }
    100% {
        background: #333;
    }
}
.animate-gradient {
    animation: gradient 3s ease-in-out infinite alternate;
}
